body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#buttonContainer {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#containerInput {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#containerDisplay {
    display: flex;
    flex-direction: column;
    
}

#refresh {
    margin: 10px
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }